{% extends 'main/base.html' %}
{% block title %}DSM - Dashboard {% endblock title %}
{% block content %}
    <h1>Dashboard</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Categorie Prodotti</h5>
                        <p class="card-text">Aggiungi, cerca, elenca le categorie dei prodotti.</p>
                        <a href="#" class="btn btn-primary">Aggiungi</a>
                        <a href="#" class="btn btn-primary">Cerca</a>
                        <a href="#" class="btn btn-primary">Elenca</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prodotti</h5>
                        <p class="card-text">Aggiungi, cerca, elenca i prodotti.</p>
                        <a href="#" class="btn btn-primary">Aggiungi</a>
                        <a href="#" class="btn btn-primary">Cerca</a>
                        <a href="#" class="btn btn-primary">Elenca</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}