{%  extends 'main/base.html' %}
{% block title %} Creazione nuova categoria {% endblock %}
{% block content %}
    <br>
    <div class="container">

        <form method="post" class="form-group">
            {% load crispy_forms_tags %}
            {% csrf_token %}
             {% crispy form %}

{#        <button class="btn btn-primary" type="submit", name="SalvaCategoria">Salva</button>#}
{#        <button class="btn btn-secondary" type="clear", name="Reset">Reset</button>#}
        </form>
    </div>

{% endblock content %}