{% extends 'main/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
    {% block content %}
        <h1>Dashboard</h1>

        <div class="container">
            <div class="row">
                <style>
                        img{
                            opacity: 0.4;
                            filter: alpha(opacity=40);
                        }
                </style>
                <div class="card text-center" style="width:500px">
                    <img id="img_prodotti" class="card-img-top" src="{% static 'img/inventory.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title" >Inventario</h2>
                        <h5 class="card-text" style="height: 10rem;">Gestisci l'inventario.</h5>
                        <div class="card-footer">
                            <a href="/inventario/add" class="btn btn-success">Aggiungi</a>
                            <a href="#" class="btn btn-secondary">Cerca</a>
                            <a href="/inventario" class="btn btn-info">Mostra</a>
                        </div>
                    </div>
                </div>
                <div class="card text-center" style="width:500px">

                    <img id="img_categorie" class="card-img-top" src="{% static 'img/categories.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title">Categorie Prodotti</h2>
                        <h5 class="card-text" style="height: 10rem;">Aggiungi, cerca, elenca le categorie.</h5>
                        <div class="card-footer">
                            <a href="/categorie/create" class="btn btn-success">Aggiungi</a>
                            <a href="#" class="btn btn-secondary">Cerca</a>
                            <a href="/categorie" class="btn btn-info">Elenca</a>
                        </div>
                    </div>
                </div>
                <div class="card text-center" style="width:500px">
                    <img id="img_prodotti" class="card-img-top" src="{% static 'img/products.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title" >Prodotti</h2>
                        <h5 class="card-text" style="height: 10rem;">Aggiungi, cerca, elenca i prodotti.</h5>
                        <div class="card-footer">
                            <a href="/prodotto/create" class="btn btn-success">Aggiungi</a>
                            <a href="#" class="btn btn-secondary">Cerca</a>
                            <a href="/prodotti" class="btn btn-info">Elenca</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
