{% extends 'main/base.html' %}
{% load static %}
{% block title %}Inventario{% endblock title %}

{% block content %}
    <h2>Aggiungi Prodotto all'inventario {{ inventario.id }} ***</h2>
    <div class="container">
      <form method="post" id="inventarioForm" data-category-url="{% url 'ajax_load_products' %}" novalidate>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        <table>
          {{ form|crispy }}
        </table>
          <table>
            {% if barcode_list %}
              {% for barcode in barcode_list %}
              <td>
                  <p>barcode</p>
              </td>
              {% endfor %}

            {% else %}
                <td>
                  <p>niente</p>
              </td>
            {% endif %}
          </table>
        <button type="submit" class="btn btn-success">Save</button>
        <button type="reset" class="btn btn-info">Reset</button>
{#        <button class="btn btn-outline-secondary" onclick="location.href='{% url 'categoria_changelist' %}'">Indietro</button>#}
{#        <a class="btn btn-outline-warning" href="{% url 'categoria_changelist' %}">Cancella</a>#}
        <a href="{% url 'item_delete' inventario.id %}" class="btn btn-danger" onclick="return confirm('Sicuro di voler cancellare?')">Cancella</a>
          <a class="btn btn-outline-secondary" href="{% url 'categoria_changelist' %}">Annulla</a>
      </form>
    </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script>
    $("#id_categoria").change(function () {
        var url = $("#inventarioForm").attr("data-category-url");  // get the url of the `load_cities` view
        var categoryId = $(this).val();  // get the selected country ID from the HTML input

        jQuery.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'categoria': categoryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_prodotto").html(data);  // replace the contents of the city input with the data that came from the server
            },


        });
    });
  </script>


{%  endblock content %}