{% extends 'main/base.html' %}
{% block title %}
Elenco prodotti per categoria
{% endblock title %}
{% block content %}
    <br>
    <div class="container">
        <form method="get" accept-charset="utf-8">
        <select name="categoria" id="categoria">
{#            <option value="Z">Select a brand</option>#}
            {% for categoria in categorie %}
                <option value="{{ categoria.id}}">{{ categoria.name }}</option>
            {% endfor %}
        </select>
        </form>
    <hr>
    <ul>
        {% for prodotto in prodotti %}
                <li>{{ prodotto.name }} --- id={{ prodotto.categoria }}</li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}